<img src="images/Full-Title-Logo-Full-Color-RGB-1600px@72ppi.png" id='top-logo' alt="sc811 logo" width="300"
    height="150">
<div id="main-banner">
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    {{!-- <div id="main-banner-shading">
        <div class="list-flex-cont">
            <ul>
                <li id="about-list"><a href="https://sc811.com/about/">ABOUT</a></li>
                <li id="education-list"><a href="https://sc811.com/education-outreach/">EDUCATION & OUTREACH</a></li>
                <li id="resources-list"><a href="https://sc811.com/resources/">RESOURCES</a></li>
                <li id="faqs-list"><a href="https://sc811.com/faqs/">FAQS</a></li>
            </ul>
            <a href="https://sc811.com/report-damage/"><button type="button" class="buttons">REPORT DAMAGE</button></a>
            <a href="https://geocall.sc1pups.org/geocall/portal"><button type="button" class="buttons">REQUEST A
                    LOCATE</button></a>
        </div> --}}
        <h1>{{title}}</h1>
        <h4>{{subtitle}}</h4>
    </div>
</div>