<div id='footer1'>
    <div id='footer1-flex-parent'>
        <img src="images/Full-Title-Logo-Full-Color-RGB-1600px@72ppi.png" id='bottom-logo' alt="sc811 logo" width="150"
            height="75">
        <div id="flex-first-row">
            <h3 class='first-row-items'>Quick Links</h3>
            <p class='first-row-items'><a href="https://sc811.com/state-law/">State Law</a></p>
            <p class='first-row-items'><a href="https://stats.sc811.com">Center Stats</a></p>
            <p class='first-row-items'><a href="https://sc811.com/careers/">Careers</a></p>
            <p class='first-row-items'><a href="https://sc811.com/holidays/">Holidays</a></p>
            <p class='first-row-items'><a href="https://sc811.com/about/enforcement/">Enforcement</a></p>
            <p class='first-row-items'>
                <a href="https://sc811.com/members/extraordinary-circumstances/">Extraordinary Circumstances</a>
            </p>
        </div>
        <div id="flex-second-row">
            <h3 class='first-row-items'>Logins</h3>
            <p class='first-row-items'><a href="https://geocall.sc1pups.org/geocall/portal">Members</a></p>
            <p class='first-row-items'><a href="http://confluence.sc811.com:8099/display/BMS">Board</a></p>
            <p class='first-row-items'><a href="http://confluence.sc811.com:8099/dashboard.action">Employees</a></p>
            <p class='first-row-items'><a href="https://msau.sc811.com/">Online Training</a></p>
        </div>
    </div>
</div>
<div id='footer2'>
    <div id='copyright'>
        &copy;
        <span id="copyright-icon">
            <script>
                document.getElementById('copyright').appendChild(document.createTextNode(new Date()
                    .getFullYear()))
            </script>
        </span>
        SC811. Web Design by Matthew Upchurch.
    </div>
    <div id="icons">
        <a href="https://twitter.com/sc_811"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://www.facebook.com/SC811"><i class="fab fa-facebook-f fa-2x"></i></a>
        <a href="https://www.linkedin.com/company/palmetto-utility-protection-service-inc-d-b-a-south-carolina-811/"><i class="fab fa-linkedin-in fa-2x"></i></a>
        <a href="https://www.instagram.com/southcarolina811/?hl=en"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.youtube.com/channel/UC_d4jdURzfaCVhj7_yRK63w"><i class="fab fa-youtube fa-2x"></i></a>
    </div>
</div>