<nav>
    <ul>
        <li><a href="https://sc811.com/homeowners/">HOMEOWNERS</a></li>
        <li><a href="https://sc811.com/excavators/">EXCAVATORS</a></li>
        <li><a href="https://sc811.com/members/">MEMBERS</a></li>
        <li><a href="https://sc811.com/members/">ENFORCEMENT</a></li>
    </ul>
</nav>