<div id="banner">
    <nav>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <img src="images/Full-Title-Logo-Full-Color-RGB-1600px@72ppi.png" id='top-logo' alt="sc811 logo" width="205">
    </nav>
    <div id="main-banner-shading">
        <div class="list-flex-cont">
            <div id="nav-ul-cont">
                <ul class="nav-ul">
                    <li><a href="https://sc811.com/homeowners/">Homeowners</a></li>
                    <li><a class="text-dec" href="https://sc811.com/excavators/">Excavators</a></li>
                    <li><a class="text-dec" href="https://sc811.com/members/">Members</a></li>
                    <li><a class="text-dec" href="https://sc811.com/members/">Enforcement</a></li>
                </ul>
            </div>
            <div id="flex-cont">
                <a class="text-dec" href="https://sc811.com/report-damage/" class="button-dec"><button type="button"
                        class="buttons">Report
                        Damage</button></a>
                <a class="text-dec" href="https://geocall.sc1pups.org/geocall/portal" class="button-dec"><button type="button"
                        class="buttons">Request a Locate</button></a>
                <ul>
                    <li id="about-list"><a class="text-dec" href="https://sc811.com/about/">About</a></li>
                    <li id="education-list"><a class="text-dec" href="https://sc811.com/education-outreach/">Education & Outreach</a>
                    </li>
                    <li id="resources-list"><a class="text-dec" href="https://sc811.com/resources/">Resources</a></li>
                    <li id="faqs-list"><a class="text-dec" href="https://sc811.com/faqs/">FAQs</a></li>
                </ul>
            </div>
        </div>
        <h1>{{title}}</h1>
        <h3>{{subtitle}}</h3>
        {{>home_button}}
    </div>
</div>