<div id="dropdown-cont">
    <div id="dropdown-title-flex">
        <span id="dropdown-title">Year</span>
        <i class="arrow down"></i>
    </div>
    <div id="year-cont">
        <p class="year" id="year19">2019</p>
        <p class="year" id="year20">2020</p>
        <p class="year active" id="year21">2021</p>
        <p class="year" id="year22">2022</p>
    </div>
</div>